html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

* {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

body {
  background-color: #fdfbf3;
  color: #333;
  font-family: "Source Sans 3", sans-serif;
  min-height: 100%;
  margin: 0;
}

/*MARQUEE 1*/
.marquee1 {
  background-color: #ffd8df;
  padding: 8px 0;
  width: 100%;
  position: relative;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.marquee1-content {
  display: block;
  font-family: "Source Sans 3", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: #702e25;
}

/*HEADER*/
.main-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 40px;
  background-color: #fdfbf4;
  border-bottom: 1px solid #702e25;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.M {
  font-size: 40px;
  font-family: "Parisienne", cursive;
  color: #abdadc;
  font-weight: 600;
}
.GD {
  font-size: 20px;
  color: #abdadc;
}

/*MENÚ DE NAVEGACIÓN*/
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links a {
  text-decoration: none;
  color: #702e25;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: opacity 0.2s ease;
}

/*EFECTO HOVER LINKS*/
.nav-links a:hover {
  opacity: 0.6;
}

/*FOOTER*/
.main-footer {
  background-color: #d0e9f3; /* Color exacto de la referencia */
  padding: 15px 40px; /* Altura estrecha y elegante */
  width: 100%;
  box-sizing: border-box;
}
.footer-container {
  display: flex;
  justify-content: space-between; /* Empuja los textos a los extremos */
  align-items: center;
  max-width: 100%;
}
.copyright {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #702e25;
  margin: 0;
}
.créditos {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-underline-offset: 3px; /* Separa la línea del texto */
  text-decoration-thickness: 1px;
  cursor: default; /* No es un link, así que el cursor no cambia */
  color: #702e25;
}
.iniciales {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-left: 5px;
  color: #702e25;
}
